body {
	font-weight: 400;
	background-color: #fff;
	/* font-family: SoDoSans, Helvetica Neue, Arial, sans-serif;
	font-weight: 400;
	padding: 0; */
}

body.div {
	padding: 16px;
}
/* * {
	border: 1px solid hotpink;
} */
.row {
	padding: 15px;
	background-color: white;
}

.nav-item {
	font-weight: bolder;
}
.navbar-brand > img {
	border-radius: 50px;
	size: 10%;
	/* padding: 1em 1em 1em 1em; */
}
.dropdown-menu {
	flex-direction: row;
	justify-content: flex-end;
}

.collapse navbar-collapse {
	justify-content: space-around;
}

.navbar-nav ml-md-auto {
	justify-content: space-between;
}

.latte-phone {
	width: 110%;
	height: auto;
	display: flex;
	justify-content: center;
}

.iced-latte {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}

.col-md-6 {
	background-color: #1e3932;
	color: #fff;
	text-align: center;
}

.free-faves,
.iced-shaken {
	padding: 40px;
}

.col-md-12 {
	width: 100%;
	box-shadow: 1px 2px #dddddd;
}

button.btn.btn-secondary {
	border-radius: 50px;
	border: 1px solid #fff;
	min-width: 35px;
	min-height: 35px;
	background: #1e3932;
}

.join-btn {
	border-radius: 50px;
	border: 1px solid #fff;
	min-width: 35px;
	min-height: 35px;
	background: #1e3932;
	color: white;
	margin-bottom: 40px;
}

.sign-in {
	border-radius: 50px;
	border: 2px solid #fff;
	min-width: 50px;
	min-height: 40px;
	background: #1e3932;
	color: #fff;
}

.join-now {
	border-radius: 50px;
	border: 2px solid white;
	min-width: 50px;
	min-height: 40px;
	background: black;
	color: white;
}

.free-faves {
	font-size: 24px;
	margin-top: 25px;
}

.iced-shaken {
	font-size: 40px;
	font-weight: bold;
	margin-top: 100px;
}

.container-fluid {
	background-color: white;
}

.order-paragraph {
	font-weight: light;
	margin-top: 35px;
	margin-right: 100px;
	margin-left: 100px;
}
